<%- model_class = Champion -%>
<div class="page-header" >
  <h1>
    <%= image_tag(@champion.image_url) %>
    <%= @champion.name %>
  </h1>
</div>
<div style="clear:both"></div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:key) %>:</strong></dt>
  <dd><%= @champion.key %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @champion.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @champion.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:partype) %>:</strong></dt>
  <dd><%= @champion.partype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lore) %>:</strong></dt>
  <dd><%= @champion.lore %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blurb) %>:</strong></dt>
  <dd><%= @champion.blurb %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              champions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_champion_path(@champion), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              champion_path(@champion),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
